<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="head :: head"></head>

<body>
  <!-- 
    BARRA DE NAVEGACAO 
  -->
  
  <div th:replace="menu :: menu"></div>
  
  <!-- 
    CONTEUDO DA PAGINA 
  -->
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Gerenciar Pessoas</h1>
      
      <div th:switch="${pessoa.pessoaId>0}">
      	<p th:case="${true}">Atualizacao</p>
      	<p th:case="*">Cadastro de Pessoa</p>
      </div>

      <form th:object="${pessoa}" action="/pessoas/save" method="POST">
      
      <input type="hidden" th:field="${pessoa.pessoaId}" th:if="${pessoa.pessoaId}">

        <div class="mb-3">
          <label class="form-label" for="nome">Nome</label> 
          <input type="text" th:field="${pessoa.nome}" class="form-control" id="nome" placeholder="Nome" 
          autocomplete="off">
          <span class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
          Campo invalido
          </span>
         
         
          <label class="form-label" for="dataNasc">Data de Nascimento</label> 
          <input type="text" th:field="${pessoa.dataNasc}" class="form-control" id="dataNasc" placeholder="dd/MM/yyyy" 
          autocomplete="off">
          <span class="error" th:if="${#fields.hasErrors('dataNasc')}" 
		  th:errors="*{dataNasc}">Campo invalido</span>
         </div>
        
        <div class="mb-3">
          <p th:switch="${pessoa.pessoaId>0}">
            <button type="submit" th:case="${true}" class="btn btn-danger" th:text="Atualizar"></button>
            <button type="submit" th:case="*" class="btn btn-primary" th:text="Adicionar"></button>
          </p>
        </div>
      </form>
    </div>
  </main>
  
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>